.header {
  display: flex;
  justify-content: space-between;
  width: 99%;
  height: 116px;
  padding-top: 5px;
  padding-bottom: 45px;
}
.logo_ser {
  padding-top: 20px !important;
  position: relative;
}

.logo_ser a {
  float: left;
  padding: 11px 20px;
}
.titulo_pag {
  padding-top: 30px !important;
  font-family:'Montserrat', sans-serif;
  text-align: end;
  font-weight: 600;
  font-size:1.8vw;
  color:#1453a0;
  line-height: 1vw;
}
.form{
  margin: 0 auto;
  font-family:'Montserrat', sans-serif;
  font-weight: 500;
  width: 75%;
  padding: 1%;
  background:#ffffff;
  border:1px solid rgba(0, 0, 0, 0.075);
  margin-bottom:25px;
  color:#ffffff !important;
  font-size:13px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
  
#contenedor {
    display: flex;
    flex-wrap: wrap;
    display: inline-block;
}
#contenedor > div{
    display:inline-block;
    width: 47%;
    padding: 1%;
}
.titulo{
    padding-left: 1%;
    font-weight: 500;
    font-size: 40px;
}
.cajas{
    width: 100%;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 10px;
    border: none;
    border-left: 10px solid #1453a0;
    border-bottom: 1px solid #1453a0;
    transition: all .5s ease;
}
