/*------------GENERAL---------------*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h1, h2 , h3 {
  font-family:'Montserrat', sans-serif;
  letter-spacing: 0;
  position: relative;
  padding: 10px 10px 10px 10px; 
  line-height: normal;
  color:#1453a0;
}

h1 {
  font-weight: 500;
  font-size: 50px;
}

h2 {
  font-weight: 400;
  font-size: 50px;
  z-index: 0;
}

h3 {
  font-weight: 400;
  font-size: 40px;
}

h4, h5, h6 {
  font-family:'Garamond', sans-serif;
  letter-spacing: 0;
  position: relative;
  padding: 10px 10px 10px 10px;
  line-height: normal;
  color:#1453a0;
}

h4 {
  font-weight: 500;
  font-size: 40px;
}

h5 {
  font-weight: 500;
  font-size: 25px;
}

h6 {
  font-weight: 400;
  font-size: 20px;
}

body {
  height: 100%;
  display: grid;
  grid-template:
      "nav    header  header  "   auto
      "nav    article article   "   1fr
      "footer footer  footer  "   auto /
      auto    1fr     auto ;
}

header {
  grid-area: header;
}

article {
  grid-area: article;
}

nav {
  grid-area: nav;
}

footer {
  grid-area: footer;
}


/*------------HEADER---------------*/

header {
  background-color: #1453a0;
  height: 108px;
  padding: 15px 60px;
  align-items: center;
  display: flex;  
  flex-direction: center;   
  z-index: 10;
  display:inline-block;
}


.navbar {
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
}

.navbar .tituloser {
  text-decoration: none !important;
  outline: none !important;
  font-family: "Montserrat";
  font-size: 2vw;
  font-weight: 500;
  color: white;
  padding-left: 20px;
  padding-right: 10px;
}

.nav-item p {
  list-style: none;
  display: inline;
  line-height: normal;
}

.mensajeser {
  color: #fff;
  padding-left: 20px;
  font-family: "Garamond";
}

/*----------------ARTICLE----------------*/

article {
padding: 1em 5em;
padding-right: 1.5em;
}

.cards {
float: left;
padding: 0 0.5em;
min-width: 350px;
max-width: 650px;
width: 33%;
padding-bottom: 30px;  
}
.cards .wrapper {
  background-color: #fff;
  min-height: 520px;
  position: relative;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2), 0 10px 7px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.cards .wrapper:hover .data {
  transform: translateY(0);
  bottom: 0;
  width: 100%;
}
.cards .data {
  position: absolute;
  bottom: 0;
  width: 100%;
  transform: translateY(calc(70px + 5em));
  transition: transform 0.3s;
}
.cards .data .content {
  padding: 1em;
  position: relative;
  z-index: 1;
}
.cards .text {
  height: 60px;
  margin: 0;
  color: #fff;
  text-shadow: 1px 1px 2px #000000;
}
.cards input[type=checkbox] {
  display: none;
}
.cards input[type=checkbox]:checked + .menu-content {
  transform: translateY(-60px);
}

.profile .menu-content:hover span {
  transform: translate(0%, 2.5vw);
  opacity: 1;
}
.profile .header {
  color: #fff;
  padding: 1em;
}
.profile .header::before, .profile .header::after {
  content: "";
  display: table;
}
.profile .header::after {
  clear: both;
}
.profile .menu-content {
  float: right;
}
.profile .menu-content li {
  position: relative;
}
.profile .menu-content span {
  text-align:center;
  transition: all 0.3s;
  opacity: 0;
}
.profile .data {
  color: #fff;
}

.title a {
  color: #fff;
  text-shadow: 1px 1px 2px #000000;
  list-style: none;
}

.type {
  color:#fff;
  text-shadow: 1px 1px 2px #000000;
  padding-bottom: 0;
}

.profile .title a {
  color: #fff;
  text-shadow: 1px 1px 2px #000000;
  list-style: none;
}

.title:hover {
  color: #fff;
  text-shadow: 1px 1px 2px #000000;
  list-style: none;
}

.text {
  opacity: 0;
  color: #fff;
}

.button {
  opacity: 0;
}

.cards:hover .text {
  opacity: 1;
  transition: opacity 200ms ease-in-out;
}

.cards:hover .button {
  opacity: 1;
  transition: opacity 200ms ease-in-out;
}

.formularios .button {
  align-items: center;
  display: block;
  padding: 10px 15px;
  width: 100px;
  margin: 2em auto 1em;
  text-align: center;
  font-family: "Montserrat";
  font-size: 15px;
  color: #fff;
  text-shadow: 1px 1px 2px #000000;
  line-height: 1;
  position: relative;
  font-weight: 500;
  border: 2px solid white;
  border-radius: 25px;
}

.formularios .image_lab {
  background: url('../images/com_lab.jpg') center/auto no-repeat;
  background-size: cover;
}
.formularios .image_hvc {
  background: url('../images/com_hvc.jpg') center/auto no-repeat;
  background-size: cover;
}
.formularios .image_ikigai {
  background: url('../images/com_ikigai.jpg') center/auto no-repeat;
  background-size: cover;
}

/*------------NAVBAR------------*/
.fa{
  color:white;
  list-style: none;
}

.sideBar-lateral.small {
background: url('../images/Candidato_Blanco.png') no-repeat;
background-position-x: left;
background-size: 54px;
background-color: #1453a0;
padding-top: 108px;
z-index: 100;
width: 54px;
overflow-y: hidden;
overflow-x:hidden;
}

.sideBar-lateral {
background: url('../images/SER.png') no-repeat;
transition:all 200ms ease-in;
background-position-y: 25pt;
background-position-x: center;
background-size: 160px;
padding-top: 107px;
background-color: #1453a0;
width: 375px;
position: fixed;
height: 100%;
transition: width 300ms ease-in;
z-index: 500; 
}


.sideBar-lateral.small #btn i {
  transform: rotate(0deg);
  transition: transform 150ms ease-in;
}

.sideBar-lateral #btn i {
  transform: rotate(90deg);
  transition: transform 150ms ease-in;
}

.sideBar-lateral.small .item-descript {
  background-color: #1453a0;
  opacity: 0;
}


.menu-item {
  border-bottom: 2px solid #e52860;
  padding: 20px 1.5em;
  list-style: none;
}

.menu-item:hover {
  background-color: #58448b;
  transition: all 150ms ease-in;
}

.item-active {
  /* alineando íconos con textos */
  height: 20px;
  display: flex;
  align-items: center;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  list-style: none;
  transition: all 300ms ease-in;
}

.fa:hover { 
  list-style: none;
}


.item-active:hover { 
  list-style: none;
  color: #e52860;
}

/* descripción */
.item-descript {
  font-family: "Montserrat";
  cursor: pointer;
  display: inline-block;
  white-space: nowrap;
  padding-left: 25px;
  margin-bottom: 0px;
}

.item-descript:hover {
  list-style: none;
  color:#e52860;
  transition: color 150ms ease-in;
}

.sideBar-lateral.small .opacity-log {
  transition: all 100ms ease-in-out;
  opacity: 0;
}

.opacity-log {
  padding-top: 40px;
}

.opacity-log .log_out {
  transition: all 200ms ease-in-out;
  opacity: 1;
  color:#fff;
  text-decoration: none;
  }

.log_out {
  font-family: "Montserrat";
  float: center;
  padding: 11px 20px;
  margin: 15px 80px;
  background-color: #1453a0;
  border-color: #e52860;
  border-width: 4px;
  border-radius: 40px;
  border-style: solid;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
  transition: background-color 150ms ease-in;
  transition: all 300ms ease-in;
}

.log_out:hover {
  background-color: #e52860;
  border-color: white;
  transition: background-color 200ms ease-in;
  transition: border-color 200ms ease-in;
  cursor: pointer;
  list-style: none;
}